# Ignore everything
*

# Except the src folder and its contents
!src/
!src/**/*

# Allow project config files
!package.json
!pnpm-lock.yaml
!tsconfig.json
!next.config.*
!jest.config.ts
!jest.setup.ts
!jest.polyfills.ts
!.eslintrc*
!postcss.config.*
!tailwind.config.*